<form id="<%= robots_show_url %>" method="get">
  <input type="text" name="robot_string" value="">
  <input type="submit" name="" value="Generate robot">
</form>

<div id="robot-image">
  <img src="<%= @string %>">
</div>
