<h1 id="Heading" class="animated fadeInRightBig">See your own personal robot!</h1>
<div id="robot-form">
  <form action="<%= robots_show_url %>" method="get">
    <input type="text" name="robot_string" value="" id="robot-input" class="animated fadeInRightBig">
    <input type="submit" name="" value="Generate robot" id="robot-submit" class="animated fadeInRightBig">
  </form>
</div>

<div id="robot-image-container">
    <% if @string %>
    <div id="robot-image-box" class="animated rollIn">
      <img id="robot-image" src="<%= @string %>">
    <% else %>
    <div id="robot-image-box" class="animated fadeInRightBig">
      <div id="no-robot">
        <div id="no-robot-text">
          Type anything to see your own robot!
        </div>
      </div>
    <% end %>
  </div>
</div>
